[submodule ".vim/bundle/YankRing.vim"]
	path = .vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/easytags"]
	path = .vim/bundle/easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/shdpl/snipmate.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/d"]
	path = .vim/bundle/d
	url = git://github.com/JesseKPhillips/d.vim.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/css3-syntax"]
	path = .vim/bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/less"]
	path = .vim/bundle/less
	url = https://github.com/lunaru/vim-less.git
[submodule ".vim/bundle/misc"]
	path = .vim/bundle/misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/XML-folding"]
	path = .vim/bundle/XML-folding
	url = git://github.com/vim-scripts/XML-Folding.git
[submodule ".vim/bundle/glsl"]
	path = .vim/bundle/glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = git@github.com:Shougo/vimshell.vim.git
[submodule ".vim/bundle/unstack"]
	path = .vim/bundle/unstack
	url = git@github.com:mattboehm/vim-unstack.git
[submodule ".vim/bundle/makeshift"]
	path = .vim/bundle/makeshift
	url = https://github.com/johnsyweb/vim-makeshift.git
[submodule ".vim/bundle/jellybeans"]
	path = .vim/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/fish"]
	path = .vim/bundle/fish
	url = git@github.com:dag/vim-fish.git
[submodule ".vim/bundle/jade"]
	path = .vim/bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = git@github.com:elzr/vim-json.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = https://github.com/shdpl/vim-puppet.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/systemd"]
	path = .vim/bundle/systemd
	url = https://github.com/kurayama/systemd-vim-syntax.git
[submodule ".vim/bundle/nix"]
	path = .vim/bundle/nix
	url = git@github.com:MarcWeber/vim-addon-nix.git
[submodule ".vim/bundle/mw-utils"]
	path = .vim/bundle/mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/goto-thing-at-cursor"]
	path = .vim/bundle/goto-thing-at-cursor
	url = git@github.com:MarcWeber/vim-addon-goto-thing-at-cursor.git
[submodule ".vim/bundle/completion"]
	path = .vim/bundle/completion
	url = git@github.com:MarcWeber/vim-addon-completion.git
[submodule ".vim/bundle/actions"]
	path = .vim/bundle/actions
	url = git@github.com:MarcWeber/vim-addon-actions.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/go"]
	path = .vim/bundle/go
	url = git@github.com:fatih/vim-go.git
